# Unecessary directories
###################
__pycache__/
.ipynb_checkpoints/
.idea/
env/
maskrcnn_model/
tensorflow/

# Weird file extensions #
###################
*.DS_Store
.Python

# Server data #
###################
server/data/
server/video/
